.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 5px solid black;
  width: 59vw;
  height: 80vh;
  max-width: 600px;
  max-height: 814px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 4vh;
  font-size: 4vw;
  font-weight: 800;
  padding: 0 5%
}

.navButtonCreate {
  width: 6em;
  margin: 33% 0 0 0;
}

.navButtonHome {
  width: 6em;
  margin: 42% 0 0 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 5px solid black;
  width: 59vw;
  height: 80vh;
  max-width: 600px;
  max-height: 814px;
}

.left, .right {
  width: 10%;
  height: 100%;
  font-size: x-large;
  font-weight: 900;
}

.characterField {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.characterImage {
  width: 100%;
  max-width: 480px;
  margin-top: 7%;
}

.characterDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  margin-top: 5;
}

li {
  list-style: none;
  font-weight: 400;
  padding: 1%;
  font-size: 1.5vw;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0 33px -1px 0;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container > button {
  min-width: 20%;
}

@media screen and (max-width: 1200px) {
  li {
    font-size: 2vw;
    padding: 1.5%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  li {
    font-size: 3vw;
    padding: 3%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  li {
    font-size: 4.7vw;
    padding: 7.5%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  li {
    font-size: 5vw;
    padding: 10%;
    text-align: center;
  }
}

span {
  font-weight: 700;
}
